<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/css/site.css"/>
    
</head>
<body>
    <div>
        @RenderBody()
    </div>
     <footer>
        Powered by ASP.NET Core &copy;2022
        written by sina.
    </footer>
</body>
</html>
